@charset "UTF-8";

* {

    padding: 0;
    margin: 0;
}

:root {

    --color1: #1d3d76;
    --color2: #b74e07;
    --color3: #597dbd;
    --color4: #f3cfb6;
    --color5: #f5f8fa;
    --color6: #fef6f8;
 }

 body {

    line-height: 1;
    font: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
 }

 #container {

    background-image: url(../imagens/original-rsa-pc-gamer.png);
    background-repeat: repeat-y;
    background-attachment: fixed;
    width: 90%;
    max-width: 950px;
    margin: 20px auto;

 }

 #pagina {

    background-color: white;
    width: 97%;
    max-width: 940px;
    padding: 10px 10px 10px 0;
 }